# misc
.DS_Store

# dependencies
web/node_modules

# next.js
web/.next/
web/out/
web/next-env.d.ts

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
web/.env
web/.env*.local

*.tsbuildinfo

# terraform
terraform/.terraform
